/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 18, 2024, 11:15:54 PM
    Author     : Admin
*/

#attendance_taking .wrap-info {
    border-radius: 5px;
    box-shadow: 0 0px 5px 2px rgba(0, 0, 0, 0.2)
}

#attendance_taking .wrap-list th {
    font-size: 1.1rem;
}

#attendance_taking .wrap-list input {
    border: 1px solid #ccced0;
}

#attendance_taking .wrap-list tr:hover td {
    background-color: #f2f2f2;
}