<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>TimeTableInstructorController</servlet-name>
        <servlet-class>controller.instructor.TimeTableInstructorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeTableStudentController</servlet-name>
        <servlet-class>controller.student.TimeTableStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceTakingController</servlet-name>
        <servlet-class>controller.instructor.AttendanceTakingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceReviewController</servlet-name>
        <servlet-class>controller.instructor.AttendanceReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionDetailController</servlet-name>
        <servlet-class>controller.student.SessionDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceViewController</servlet-name>
        <servlet-class>controller.student.AttendanceViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GradeTakingController</servlet-name>
        <servlet-class>controller.instructor.GradeTakingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GradeViewController</servlet-name>
        <servlet-class>controller.student.GradeViewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TimeTableInstructorController</servlet-name>
        <url-pattern>/instructor/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeTableStudentController</servlet-name>
        <url-pattern>/student/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceTakingController</servlet-name>
        <url-pattern>/instructor/attendance_taking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceReviewController</servlet-name>
        <url-pattern>/instructor/attendance_review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionDetailController</servlet-name>
        <url-pattern>/student/session_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceViewController</servlet-name>
        <url-pattern>/student/attendance_view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradeTakingController</servlet-name>
        <url-pattern>/instructor/grade_taking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradeViewController</servlet-name>
        <url-pattern>/student/grade_view</url-pattern>
    </servlet-mapping>
</web-app>
